.footer
  .footer__leftbox
    .footer__leftbox__title
      = 'EXHOOP'
    .footer__leftbox__message
      = 'For all video creater'
    .footer__leftbox__icons
      = link_to 'https://github.com/', class: 'github__icon', target: :blank do
        = icon('fab', 'github')
      = link_to 'https://twitter.com/', class: 'twitter__icon', target: :blank do
        = icon('fab', 'twitter')
      = link_to 'https://instagram.com/', class: 'instagram__icon', target: :blank do
        = icon('fab', 'instagram')
    .footer__leftbox__copyright
      = '©️ 2020 - EXHOOP Inc.'
  .footer__rightbox
