%div{class: "videos show"}
  .container
    .row
      - @videos.each do |video|
        .content__box
          .content__box__top
            .content__box__top__title
              = video.name
              - if video.tag.present?
                = '/'
                = video.tag.name
            .content__box__top__icons
              .content__box__top__icons__heart
                - if user_signed_in? && current_user.already_liked?(video)
                  = icon('fa', 'heart', class: 'content__box__top__icons__heart__already')
                - else
                  = icon('far', 'heart', class: 'content__box__top__icons__heart__yet')
                = video.likes.count
              .content__box__top__icons__comment
                = icon('far', 'comment')
                = video.comments.count
          .content__box__video
            = link_to video_path(video.id) do
              = video_tag video.work.url, loop: true, muted: true, width: '100%', class: 'video'
          .content__box__user
            = link_to user_path(video.user.id) do
              = video.user.name
