#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Edit Account
    = form_for(current_user) do |f|
      .account-page__inner--icon
        .account-page__inner--icon__label
          = f.label :image
        .account-page__inner--icon__input
          - if @image.present?
            = image_tag @image.url, class: 'account-page__inner--icon__input__image', width: '100%'
          - else
            = image_tag 'default_user.jpg', width: '100%'
          .account-page__inner--icon__input__image2
          = f.file_field :image, class: 'account-page__inner--icon__input__btn', id: 'upload-icon'
      .account-page__inner--right.user-form
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true, autocomplete: 'off'
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .field
          .field-label
            = f.label :profile
          .field-input
            = f.text_area :profile,  id: 'text-area', autocomplete: 'off'
        .actions
          = f.submit "Update", class: 'btn'
