= render partial: "share/header"

.content
  .userbox
    .userbox__top
      .userbox__top__left
        .userbox__top__left__icon
          -if @user.image.present?
            = image_tag @user.image.url, width: '100%'
          - else
            = image_tag('/images/default_user.jpg', width: '100%')
      .userbox__top__right
        .userbox__top__right__name
          = @user.name
        .userbox__top__right__option
          - if user_signed_in? && current_user.id == @user.id
            .userbox__top__right__option__edit
              = link_to edit_user_path(current_user) do
                .userbox__top__right__option__edit__btn
                  = icon('fa', 'edit')
                  = 'Edit'
            .userbox__top__right__option__logout
              = link_to destroy_user_session_path, method: :delete  do
                .userbox__top__right__option__logout__btn
                  = icon('fa', 'sign-out-alt')
                  = 'Logout'
    .userbox__bottom
      = simple_format(@user.profile)
  .select
    %div{class: "select__videos active"}
      = "Video"
    %div{class: "select__videos"}
      = "Like"
  .container
    .row
      = render partial: "share/video", locals: { video: @video }
      = render partial: "share/liked_video", locals: { video: @video }

= render partial: "share/footer"
