.content
  .content__new
    .content__new__text
      = 'Edit Video'
    = form_with model: @video, local: true do |f|
      = f.text_field :name, class: 'form-control', autocomplete: 'off', placeholder: 'Title'
      = f.collection_select(:tag_id, @tags, :id, :name, {prompt: "Please select a category"})
      .content__new__video
        = video_tag @video.work.url, autoplay: true, loop: true, controls: true, width: '100%'
      .content__new__btns
        .content__new__btns__select
          = f.label :work, class: "content__new__btns__select__image" do
            = icon('fa', 'photo-video')
            = 'Select'
            = f.file_field :work, class: 'content__new__btns__select__file', id: 'upload-video'
        .content__new__btns__upload
          = icon('fa', 'upload')
          = 'Upload'
          = f.submit 'Upload', class: 'content__new__btns__upload__submit'