= render partial: "share/header"

.content
  .content__paginate
    = paginate(@videos)
  = render partial: "share/video", locals: { video: @video }
  .content__paginate
    = paginate(@videos)

= render partial: "share/footer"