= render partial: "share/header"

.content
  .content__show
    .container
      .row
        .content__show__box
          .content__show__box__top
            .content__show__box__top__title
              = @video.name
              - if @video.tag.present?
                = '/'
                = @video.tag.name
            .content__show__box__top__icons
              .content__show__box__top__icons__heart
                - if user_signed_in?
                  - if current_user.already_liked?(@video)
                    = link_to video_like_path(@video), method: :delete do
                      = icon('fa', 'heart', class: 'content__show__box__top__icons__heart__already')
                  - else
                    = link_to video_likes_path(@video), method: :post do
                      = icon('far', 'heart', class: 'content__show__box__top__icons__heart__yet')
                - else
                  = icon('far', 'heart', class: 'content__show__box__top__icons__heart__yet')
                = @video.likes.count
              .content__show__box__top__icons__comment
                = icon('far', 'comment')
                = @video.comments.count
          .content__show__box__video
            = video_tag @video.work.url, autoplay: true, loop: true, controls: true, width: '100%'
          .content__show__box__bottom
            .content__show__box__bottom__user
              .content__show__box__bottom__user__icon
                = link_to user_path(@video.user.id) do
                  - if @video.user.image.present?
                    = image_tag @video.user.image.url, width: '100%'
                  - else
                    = image_tag '/images/default_user.jpg', width: '100%'
              .content__show__box__bottom__user__name
                = link_to user_path(@video.user.id) do
                  = @video.user.name # 投稿したuserのページにリンク
            .content__show__box__bottom__icons
              -# Twitterへの共有を別タブで開く
              .content__show__box__bottom__icons__share
                = icon('fas', 'share-alt')
                .content__show__box__bottom__icons__share__area
                  .content__show__box__bottom__icons__share__area__twitter
                    = link_to "http://twitter.com/share?url=#{request.url}&text=#{@video.user.name}さんの作品「#{@video.name}」%0A&hashtags=EXHOOP", onclick: "window.open(this.href,'hoge', 'height=300, width=800');return false;" do
                      .content__show__box__bottom__icons__share__area__twitter__btn
                        .content__show__box__bottom__icons__share__area__twitter__btn__icon
                          = icon('fab', 'twitter')
                        .content__show__box__bottom__icons__share__area__twitter__btn__text
                          = "Twitter"
                  .content__show__box__bottom__icons__share__area__line
                    = link_to "https://line.me/R/msg/text/?#{@video.user.name}さんの作品「#{@video.name}」%0A#{request.url}%0AEXHOOP", onclick: "window.open(this.href,'hoge', 'height=500, width=800');return false;" do
                      .content__show__box__bottom__icons__share__area__line__btn
                        .content__show__box__bottom__icons__share__area__line__btn__icon
                          = icon('fab', 'line')
                        .content__show__box__bottom__icons__share__area__line__btn__text
                          = "LINE"
              -# 投稿者の場合、編集削除ボタンを表示
              - if user_signed_in? && current_user.id == @video.user.id
                .content__show__box__bottom__icons__edit
                  = link_to edit_video_path(@video.id), method: :get do
                    = icon('fa', 'edit')
                .content__show__box__bottom__icons__delete
                  = link_to video_path(@video.id), method: :delete do
                    = icon('fa', 'trash-alt')
          .content__show__box__description
            .content__show__box__description__top
              = 'Description'
            .content__show__box__description__bottom
              = simple_format(@video.description)
        .content__show__comment
          .content__show__comment__top
            = 'Comment'
          - if user_signed_in?
            .content__show__comment__add
              = form_with(model: [@video, @new_comment], local: true) do |f|
                = f.text_area :text, placeholder: "Add a public comment...", id: "comment-text"
                .content__show__comment__add__btn
                  .content__show__comment__add__btn__cansel
                    = 'Cansel'
                  = f.submit "Send", class: 'content__show__comment__add__btn__send'
          // コメント表示
          .content__show__comment__bottom
            - @comments.each do |comment|
              - if comment.reply.blank?
                .content__show__comment__bottom__top
                  .content__show__comment__bottom__top__user
                    .content__show__comment__bottom__top__user__icon
                      = link_to "/users/#{comment.user.id}" do
                        - if comment.user.image.present?
                          = image_tag comment.user.image.url, width: '100%'
                        - else
                          = image_tag('/images/default_user.jpg', width: '100%')
                    .content__show__comment__bottom__top__user__name
                      = link_to "/users/#{comment.user.id}" do
                        = comment.user.name
                  .content__show__comment__bottom__top__icons
                    - if user_signed_in? && current_user.id == comment.user.id && comment.text != "This comment has been deleted."
                      .content__show__comment__bottom__top__icons__reply
                        = link_to '#' do
                          = icon('fa', 'reply', id: "reply-btn#{comment.id}")
                      .content__show__comment__bottom__top__icons__delete
                        = link_to video_comment_path(comment.video_id, comment.id), method: :patch do
                          = icon('fa', 'trash-alt')
                    - elsif user_signed_in? && current_user.id != comment.user.id && comment.text != "This comment has been deleted."
                      .content__show__comment__bottom__top__icons__reply
                        = link_to '#' do
                          = icon('fa', 'reply', id: "reply-btn#{comment.id}")
                    - else
                      = ''
                .content__show__comment__bottom__text
                  = simple_format(comment.text)
                - if user_signed_in?
                  .content__show__comment__bottom__reply
                    = form_with(model: [@video, @new_comment], local: true, id: "reply-form#{comment.id}") do |f|
                      = f.text_area :text, placeholder: "Add a public reply...", id: "reply-text"
                      = f.hidden_field :reply, value: comment.id
                      .content__show__comment__bottom__reply__btn
                        .content__show__comment__bottom__reply__btn__cansel
                          = 'Cansel'
                        = f.submit "Reply", class: 'content__show__comment__bottom__reply__btn__send'
                // 返信数に応じて表示を切り替え
                %div{id: "reply-view-hide#{comment.id}"}
                  .content__show__comment__bottom__view-btn
                    - if @replies[comment.id] == nil
                      = ""
                    - elsif @replies[comment.id] == 1
                      // jsで表示文字を切り替え
                      %div{id: "reply-view#{comment.id}"}
                        = icon('fa', 'caret-down')
                        = "View"
                      %div{id: "reply-hide#{comment.id}"}
                        = icon('fa', 'caret-up')
                        = "Hide"
                      .content__show__comment__bottom__view-btn__text
                        = "#{ @replies[comment.id] } reply"
                    - else
                      // jsで表示文字を切り替え
                      %div{id: "reply-view#{comment.id}"}
                        = icon('fa', 'caret-down')
                        = "View"
                      %div{id: "reply-hide#{comment.id}"}
                        = icon('fa', 'caret-up')
                        = "Hide"
                      .content__show__comment__bottom__view-btn__text
                        = "#{ @replies[comment.id] } replies"
              // 返信表示
              %div{id: "reply-text#{comment.id}"}
                - @comments.each do |reply|
                  - if reply.reply == comment.id
                    .content__show__comment__bottom__view-reply
                      .content__show__comment__bottom__view-reply__top
                        .content__show__comment__bottom__view-reply__top__user
                          .content__show__comment__bottom__view-reply__top__user__icon
                            = link_to "/users/#{reply.user.id}" do
                              - if reply.user.image.present?
                                = image_tag reply.user.image.url, width: '100%'
                              - else
                                = image_tag('/images/default_user.jpg', width: '100%')
                          .content__show__comment__bottom__view-reply__top__user__name
                            = link_to "/users/#{reply.user.id}" do
                              = reply.user.name
                        .content__show__comment__bottom__view-reply__top__icons
                          - if user_signed_in? && current_user.id == reply.user.id
                            .content__show__comment__bottom__view-reply__top__icons__delete
                              = link_to video_comment_path(reply.video_id, reply.id), method: :delete do
                                = icon('fa', 'trash-alt')
                          - else
                            = ''
                      .content__show__comment__bottom__view-reply__text
                        = simple_format(reply.text)

= render partial: "share/footer"
